@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --black1: #2e2e2e;
  --black2: #343434;
  --black3: #535353;
  --gray1: #f4f4f4;
  --gray2: #f6f6f6;
  --white: #ffffff;

  --title1-fs: 44px;
  --title2-fs: 42px;
  --title3-fs: 40px;
  --title4-fs: 28px;

  --text1-fs: 18px;
  --text2-fs: 14px;
  --text3-fs: 12px;
  --text4-fs: 11px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Utility classes */
.title1,
.title2,
.title3,
.title4 {
  font-weight: bold;
}
.title1 {
  font-size: var(--title1-fs);
  color: var(--black2);
}
.title2 {
  font-size: var(--title2-fs);
  color: var(--black1);
}
.title3 {
  font-size: var(--title3-fs);
  color: var(--black2);
}
.title4 {
  font-size: var(--title4-fs);
  color: var(--black);
}

.text1 {
  font-size: var(--text1-fs);
}
.text2 {
  font-size: var(--text2-fs);
}
.text3 {
  font-size: var(--text3-fs);
}
.text4 {
  font-size: var(--text4-fs);
}

.btn-black {
  padding: 10px;
  background-color: var(--black1);
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  font-size: var(--text4-fs);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.btn-white {
  padding: 10px;
  background-color: var(--gray1);
  color: var(--black1);
  text-decoration: none;
  display: inline-block;
  font-size: var(--text4-fs);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.hover-opacity:hover {
  opacity: 0.8;
}

/* Utility classes */

.container {
  width: 1000px;
  margin: auto;
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}


/* --------------------------------------------------- */
.introduction {
  display: flex;
  flex-wrap: wrap;
}

.introduction .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray1);
  flex-basis: 300px;
  flex-grow: 1;
  padding: 40px;
}

.introduction .left .avatar-container {
  width: 211px;
  margin-bottom: 20px;
  overflow: hidden;
}
.introduction .left .avatar-container img.avatar{
  width: 100%;
  transition: transform .3s;
}
.introduction .left .avatar-container:hover img.avatar{
  transform: scale(1.2);
}

.introduction .left .position {
  margin-bottom: 20px;
  font-weight: lighter;
}

.introduction .left .email-me {
  width: 211px;
  margin-bottom: 20px;
}

.introduction .left .icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 211px;
}

.introduction .left .icons .icon-link {
  display: block;
  height: 20px;
}

.introduction .left .icons .icon-link img {
  height: 100%;
}

.introduction .right {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 80px 40px;
}

.introduction .right .about-me {
  margin-bottom: 20px;
}

.introduction .right .summary {
  font-weight: lighter;
  color: var(--black1);
}

.introduction .right .empty {
  flex-grow: 1;
}

.introduction .right .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.introduction .right .actions a {
  flex-basis: 50%;
}

@media only screen and (max-width: 600px) {
  .introduction .right {
    text-align: center;
  }
  .introduction .right .summary {
    margin-bottom: 40px;
  }
}

/* --------------------------------------------------- */




.portfolio {
  background-color: var(--black2);
  padding: 80px 40px;
}

.portfolio .sample-work {
  color: var(--gray2);
  font-size: var(--title1-fs);
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio .projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio .projects .project {
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.portfolio .projects .project .project-image-container {
  overflow: hidden;
  margin-bottom: 20px;
}

.portfolio .projects .project .project-image-container img {
  width: 100%;
  transition: transform .3s;
}

.portfolio .projects .project .project-image-container:hover img {
  transform: scale(1.2);
}

.portfolio .projects .project .project-name {
  font-size: var(--text1-fs);
  color: var(--gray2);
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio .projects .project .view-project {
  font-size: var(--text2-fs);
  color: var(--gray2);
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding-bottom: 5px;
}

.portfolio .projects .project .view-project::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--gray2);;
  transition: left .5s;
}

.portfolio .projects .project .view-project:hover::after {
  left: 0;
}

/* .portfolio .projects .project a {
  width: 100%;
} */

/* .portfolio .projects .project a.description-btn {
  margin-bottom: 10px;
} */

.portfolio .projects hr {
  display: none;
}

@media only screen and (max-width: 705px) {
  .portfolio .projects {
    flex-direction: column;
  }

  .portfolio .projects .project {
    width: 250px;
  }

  .portfolio .projects hr {
    width: 100%;
    display: block;
  }
}
/* --------------------------------------------------- */






.history {
  padding: 80px 40px;
}

.history > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.history hr {
  margin-bottom: 40px;
}

.history .left {
  flex-grow: 1;
}
.history .right {
  /* flex-basis: 50%; */
  width: 550px;
}

.history .element {
  margin-bottom: 40px;
}

.history .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: var(--text2-fs);
  color: var(--black2);
  font-weight: bold;
  margin-bottom: 5px;
}

.history .bottom {
  font-size: var(--text3-fs);
  color: var(--black2);
  font-weight: lighter;
}

.history .education .right .element .date {
  width: 165px;
}

.history .certificates .right {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.history .certificates .right .certificate {
  display: block;
  text-decoration: none;
  width: 208px;
  flex-grow: 1;
  border: 1px solid var(--black3);
  border-radius: 10px;
  padding: 10px;

  position: relative;
  overflow: hidden;
}

.history .certificates .right .certificate img.ld {
  width: 100px;
}

.history .certificates .right .certificate img.coursera {
  width: 200px;
}

.history .certificates .right .certificate p {
  font-size: var(--text3-fs);
  color: var(--black2);
  font-weight: lighter;
}

.history .certificates .right .certificate .overlay-1 {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  transition: left .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  opacity: .8;
}
.history .certificates .right .certificate:hover .overlay-1 {
  left: -20%;
}
.history .certificates .right .certificate .overlay-2 {
  position: absolute;
  top: 0;
  left: 80%;
  height: 100%;
  width: 20%;
  color: black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  opacity: 0;
  transition: opacity .5s;
}
.history .certificates .right .certificate:hover .overlay-2 {
  opacity: 1;
}

.history .certificates .right .certificate .overlay-2 img {
  width: 20px;
}



@media only screen and (max-width: 880px) {
  .history > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
  }

  .history > div .title3 {
    align-self: flex-start;
  }
}

@media only screen and (max-width: 590px) {
  .history .right {
    width: 100%;
  }
}
/* --------------------------------------------------- */





.skills {
  padding: 0px 40px 80px;
}

.skills .title:nth-child(2) {
  margin-bottom: 40px;
}

.skills .list {
  display: flex;
  align-items: center;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}

.skills .list .skill-card {
  width: 100px;
  padding: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: var(--text4-fs);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skills .list .skill-card img {
  width: 100%;
}
/* --------------------------------------------------- */




body.description {
    background-color: var(--gray1);
    min-height: 100vh;
}

div.description {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    background-color: var(--gray1);
}

.description .title4 {
    margin-bottom: 10px;
}

.description .short-description {
    color: var(--black1);
    margin-bottom: 40px;
}

.description .project-display {
    display: flex;
    gap: 50px;
}

.description .project-display .left {
    width: 650px;
}


.description .project-display .left .project-image-container {
  margin-bottom: 20px;
  overflow: hidden;
}

.description .project-display .left .project-image-container img {
    width: 100%;
    transition: transform .3s;
}

.description .project-display .left .project-image-container:hover img {
    transform: scale(1.2);
}

.description .project-display .left a {
    width: 100%;
}

.description .project-display .right ul {
    padding-left: 40px;
}


.description .project-display .right ul:nth-child(2) {
    margin-bottom: 40px;
}

.description .project-display .right ul li {
    font-size: var(--text2-fs);
    color: var(--black1);


}


@media only screen and (max-width: 900px) {
  .description .project-display {
    flex-direction: column;
  }
}
/* --------------------------------------------------- */







footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black2);
  color: var(--gray2);
  font-size: var(--text4-fs);
  padding: 40px;
}

footer a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
  display: block;
}

footer .icons a img {
  width: 100%;
}
